.vscode

/bin/*
!/bin/maxmodels.sh
!/bin/preconfigured-runners/
!/bin/preconfigured-runners/maxmodels_*.sh
/build/*
!/build/.gitkeep

*.log
*sqlite3
__pycache__

/extras/datasets/data/**/*.lp
/extras/datasets/data/**/*.log

/vendor/*
!/vendor/.gitkeep